/*CSS for overlay page NEW03*/
.overlay {
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
#more_info {
    margin: 10% 25%;
    padding: 0.5% 3%;
    background-color: rgb(255, 255, 255);
    width: 50%;
    min-width: 320px;
    height: 60%;
    min-height: 200px;
}
/*  */

/*CSS for about us*/
.member {
    padding: 1% 30%;
    padding-right: 0%;
    display: flex;
    flex-wrap: wrap;
}
.personal_info {
    padding: 0 2%;
    width: 300px;
}
.personal_info:first-child {
    padding-top: 15%;
}

/*   */

/* CSS for Browse store*/
.store  div {
    padding: 3px 20%;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 20;
}
.store span{
    width: 300px;
    text-justify: left;
}
.store span:nth-child(2) {
    padding: 0 0;
    padding-top: 13%;
}
.store {
    text-decoration: none;
    color:  black;
}
.store_image {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
/*   */

/*CSS for browse product*/
.product  div {
    padding: 3px 20%;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
}
.product span{
    width: 300px;
    text-justify: left;
}
.product span div {
    padding: 0 0;
}
.product span div:first-child {
    padding-top: 15%;
}
.product {
    text-decoration: none;
    color:  black;

}
.product_image {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
/*   */

 
