*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CSS for the header: logo, heading, navigation  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    min-width: 320px;
    background-color: gray;
}

.nav-links-container input{
    display: none;
}

.nav-links-container label{
    display: none;
}

.nav-links-container ul {
    display: flex;
    list-style-type: none;    
}

.nav-links-container a {
    margin: 0 15px 0 0;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.nav-links-container a:hover{
    background: tomato;
}

/* Responsive Nav Bar */
@media screen and (max-width: 820px) {
    .nav-text{
        font-size: 11px;
    }

    .menu-image{
        margin-left: 15px;
    }

    .nav-text{
        margin-left: 10px;
    }

    .nav-links-container label {
      width: 50px;
      float: right;
      display: block;
    }

    .nav-links-container input[type="checkbox"] ~ .nav-links {
      display: none;
    }

    .nav-links-container input[type="checkbox"]:checked ~ .nav-links {
      display: inline-block;
    }

    .nav-links-container input[type="checkbox"]:checked ~ .nav-links li {
      width: 95%;
    }
}
/*  */


/* CSS for footer */
.nav-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    min-width: 320px;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
}

.nav-bottom ul{
    display: flex;
    list-style-type: none;
}
.nav-bottom ul li a{ 
    text-decoration: none;
    margin: 0 15px 0 0;
    color: black;
    text-transform: uppercase;
}

/*  */

/* CSS for the content section  */
.container{
    margin: 20px 20px;
}

.Heading-container {
    border: 2px solid black;
    min-width: 280px;
    height: 230px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
}
.Heading-container-1 {
    border: 2px solid black;
    min-width: 280px;
    height: 245px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
}

.Heading-container-2 {
    border: 2px solid black;
    min-width: 280px;
    height: 260px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
}

.inside-content a:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
}

.container-font{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background: rgb(253, 95, 3);
    border-radius: 13px;
}

.inside-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}


.detail-content{
    align-items: center;
    display: inline-block;
}

.content-text{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.content-img img{
    margin: 5px 20px;   
    border-radius: 15px;
} 

.content-text span{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

/* Responsive for the main page */

@media screen and (max-width: 903px) {
    .Heading-container-1{
        height: 450px;
    }
}

@media screen and (max-width: 733px) {
    .Heading-container-2{
        height: 490px;
    }
}

@media screen and (max-width: 523px) {
    .Heading-container-1{
        height: 650px;
    }
}

@media screen and (max-width: 433px) {
    .Heading-container-1{
        height: 850px;
    }
}

@media screen and (max-width: 413px) {
    .Heading-container-2{
        height: 710px;
    }
}

@media screen and (max-width: 373px) {
    .Heading-container-2{
        height: 935px;
    }
}

/*  */

/* CSS for product page */
.product-container{
    height: 620px;
    border: 2px solid black;
    margin: 5px;
    min-width: 310px;
}

.top-container{
    height: 410px;
    border: 2px solid black;
    margin: 5px;
}

.product-specification{
    display: inline-block;
}

.description1{
    margin-left: 10px;
}

.description2{
    margin: 5px 10px;
}

.product-image{
    margin: 5px 2px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-img1{
    margin: 3px 3px;
    height: 140px;
    width: 135px;
    background-image: url(ImageProductTesting/iphone-12-pro-max-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-img2{
    margin: 3px 4px;
    height: 140px;
    width: 135px;
    background-image: url(ImageProductTesting/iphone-12-pro-max-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-img3{
    margin: 3px 3px;
    height: 140px;
    width: 135px;
    background-image: url(ImageProductTesting/iphone-12-pro-max-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-img4{
    margin: 3px 4px;
    height: 140px;
    width: 135px;
}
.product-name, .product-price{
    margin-left: 5px;
    margin-bottom: 5px;
}

.product-button{
    display: inline-block;
    margin: 0 20px 0 5px;
}

.product-button-1, .product-button-2{
    width: 100px;
    height: 30px;
    background:rgb(253, 95, 3);
    border-radius: 7px;
}

.product-button-2:hover{
    background:rgb(206, 94, 30);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.product-button-1:hover{
    background:rgb(206, 94, 30);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/* Responsive for product image */
@media screen and (min-width: 600px) {
    .product-img1, .product-img2, .product-img3{
        height: 200px;
        width: 180px;
    }

    .product-container{
        height: 550px;
    }
}

@media screen and (min-width: 820px) {
    .product-img1, .product-img2, .product-img3{
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 1024px) {
    .product-img1, .product-img2, .product-img3{
        height: 300px;
        width: 320px;
    }
    .product-container{
        height: 520px;
    }
}

/* Responsive */

@media screen and (max-width:767px){
    #contact_us h2{
        text-align: center; 
    }
    
    .input_box_1{
        margin-left: 0px;
       
        width:max-content;
        display:block;
        
    }
    .input_box_1 input[type]{
        display: block;
        width: max-content;
    }
    .input_box_2{
        width: max-content;
        display: block;
        margin-left: 0px;
        
    }
    .input_box_2 input[type]{
        display:block;
        
    }
}
    
/*  */

/* Fee table */
#fee_table{
    border: 1px solid black;
    background-color: #f1f1c1;
    margin: 50px auto;
}
th, td {
    padding: 15px;
    border: 1px solid black
}
.title{
    margin: 20px 20px;
}
.parafee{
    margin-left:50px;
}
/*  */

/* faqs */
#faqs{
    margin-left: 50px;
    margin-bottom: 30px;
}

.title{
    text-align: center;
}

.parafaq {
    margin-left:50px;
}

#faqs ul li{
    padding: 10px;
    text-decoration: none;
    list-style: square;
}

#faqs ul li ul li{
    list-style: circle;
    background-color: lightgray;
    font-style: italic;
    font-size-adjust: inherit;
    padding-left: 20px;   
}

.wrapper{
    display: none;
}

#faqs ul li ul li ul li {
    margin-left: auto;
    list-style:decimal;
}

.dropdown:hover .wrapper,
.dropdown:focus-within .wrapper{
    display:block;
}
/*  */

/* contact us */
#contact_us{
    margin:50px auto;
    width: 80%;
}

#contact_us h2{
    text-align: center;
}

.submit_button{
    margin-left: auto;
    margin-top: 10px;
}

.contact_box{

    padding: 20px;
    margin-right: 200px;
}


.enter_name input {
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px;
}
.phone input {
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px;
}
.email input {
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px;
}

.enter_name{margin-bottom: 10px;}
.phone{margin-bottom: 10px;}
.email{margin-bottom: 10px;}
.contact_method{margin-bottom: 10px;}
.contact_purpose{margin-bottom: 10px;}
.contact_day{margin-bottom: 10px;}

.message{
    width: 100%;
    outline:none;
    padding: 10px;
    box-sizing: border-box;
}

.contact_method {padding-bottom: 10px;}
.contact_purpose {padding-bottom: 10px;}


#contact_us label {
    color:orangered;
}

.submit_button{
    background-color: gray;
    border: none;
    outline:none;
    width: auto;
    margin-left: 20px;
    padding: 10px 10px;
    width: 100px;
}

.reset_button{
    background-color: gray;
    border: none;
    outline:none;
    width: auto;
    margin-left: 20px;
    padding: 10px 10px;
    width: 100px;
}
/*  */

/* login */
.form_box{
    width: 320px;
    height: 420px;
    margin: 6% auto;
    padding:5px;
    background: gray;
    border-radius: 20px;
    border-style: double;
}
.login form{
    margin-top: 0%;
    margin-left: auto;
    font-weight: bold;
    
}

.login h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0%;
    
}

.login_button button{
    width: 60%;
    border:none;
    margin-left: 55px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
}

.login_button button:hover{
    background-color: orangered;
}

.username{
    margin:10px;
    margin-left: 40px;
    color: orangered;
}

.password{
    margin:10px;
    margin-left: 40px;
}

.form_box input[type="text"], input[type="password"]{
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid;
    outline:none;
    border-radius: 5px;
}



.form_box a{
    text-decoration: none;
    font-size: 13px;
    color: black;
    
    
}

.form_box a:hover{
    color:orangered;
}
/*  */

/* forgot pass */

.forgotpass{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.forgotpass .fpass{
    background: darkgray;
    width: 40%;
    padding: 15px 20px;
    border: solid;
    border-radius: 10px;
}

.fpass_h2{
    text-align: center;
    margin: 20px;
    padding: 0px;
}

.fpass h3{
    color:orangered;
}

.fpass .fpass_box input[type="text"]{
    padding:5px;
    border-radius: 3px;
    border: 1px solid;
    width: 100%;
    margin:10px auto;
}
.fpass_button {
    display: flex;
    justify-content: center;
}

.fpass_button input[type="submit"]{
    padding: 8px 4px;
    border-radius: 5px;
}

.fpass_button input[type="submit"]:hover{
    background-color: lightsalmon;
}

/*  */

/* register page */

.profile-pic{
    width:100px;
    height: 100px;
    display: block;
}

.register{
    
    justify-content: center;
    margin-left: 50px;
    
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

label{
    padding: 10px;
    font-weight: 200px;
    font-style: italic;
    color: orangered;
}

#register_form{
    border: 1px solid;
    width: fit-content;
    margin-left: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.regis_button{
    margin-left: 150px;
}

input{
    padding:5px 30px;
    margin: 10px;
    align-self: left;
    border-radius: 5px;
}

.profile-pic{
    padding:10px;
    margin-left: 100px;
}

#store_owner_account_field {
    display:none;
}

#store_owner:checked ~ #store_owner_account_field {
    display: block;
}
/*  */
