*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CSS for the header: logo, heading, navigation  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    background-color: gray;
    
}

.nav-links-container ul {
    display: flex;
    list-style-type: none;
}


.nav-links-container a {
    margin: 0 15px 0 0;
    text-decoration: none;
    color: black;
}
/*  */


/* CSS for footer */
.nav-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
}

.nav-bottom ul{
    display: flex;
    list-style-type: none;
}
.nav-bottom ul li a{ 
    text-decoration: none;
    margin: 0 15px 0 0;
    color: black;
    text-transform: uppercase;
}

#fee_table{
    border: 1px solid black;
    background-color: #f1f1c1;
    margin: 50px auto;
}
th, td {
    padding: 15px;
    border: 1px solid black
}
.title{
    margin: 20px 20px;
}

#faqs{
    margin-left: 50px;
    margin-bottom: 30px;
}

#faqs ul li{
    padding: 10px;
    text-decoration: none;
    list-style: square;
}

#faqs ul li ul li{
    list-style: circle;
    background-color: lightgray;
    font-style: italic;
    font-size-adjust: inherit;
    padding-left: 20px;   
}

.wrapper{
    display: none;
}

#faqs ul li ul li ul li {
    margin-left: auto;
    list-style:decimal;
}

.dropdown:hover .wrapper,
.dropdown:focus-within .wrapper{
    display:block;
}

#contact_us{
    margin:50px auto;
    width: 80%;
}

.submit_button{
    margin-left: auto;
    margin-top: 10px;
}

.contact_box{
    border-style: ridge;
    
    padding: 20px;
    margin-right: 200px;
}

.contact_box {flex-basis: 45%;}

.enter_name input {
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px;
}
.phone input {
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px;
}
.email input {
    width: 30%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px;
}

.enter_name{margin-bottom: 10px;}
.phone{margin-bottom: 10px;}
.email{margin-bottom: 10px;}
.contact_method{margin-bottom: 10px;}
.contact_purpose{margin-bottom: 10px;}
.contact_day{margin-bottom: 10px;}

.message{
    width: 100%;
    outline:none;
    padding: 10px;
    box-sizing: border-box;
}

#contact_us label {
    color:orangered;
}
.submit_button{
    background-color: gray;
    border: none;
    outline:none;
    width: auto;
    margin-top: 20px;
}

.form_box{
    width: 320px;
    height: 420px;
    margin: 6% auto;
    padding:5px;
    background: gray;
}
.login form{
    margin-top: 0%;
    margin-left: auto;
    font-weight: bold;
    color: orangered;
}

.login h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0%;
    
}


.login_button input{
    width: 100%;
    border:none;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
}

.username{
    margin:10px auto;
    margin-left: 50px;
}

.password{
    margin:10px auto;
    margin-left: 50px;
}


.form_box input[type="text"], input[type="password"]{
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid;
    outline:none;
}

.form_box a{
    text-decoration: none;
    font-size: 12px;
    
}